body {
  background: linear-gradient(to top left, #ab8960, transparent);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "comfortaa";
  margin: 0;
}

.logo {
  width: 50px;
  height: 50px;
}

/* Style the navigation menu */
#topnav {
  overflow: hidden;
  background-color: #543910;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#topnav #menuLinks {
  display: none;
}

/* Style navigation menu links */
#topnav a {
  color: #F6EDE5;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
#topnav a.icon {
  display: block;
  position: absolute;
  right: 50px;
  top: 0;
  font-size: 30px;
  align-items: center;
}

#topnav a.bag_icon {
  position: absolute;
  float: right;
  margin: auto;
  top: -1px;
  right: 2px;
  font-size: 28px;
}

#menuLinks a:hover, #topnav a.bag_icon:hover, #topnav a.icon {
  background-color: rgba(65, 41, 5, 0.8156862745);
}

#bc {
  font-size: 12px;
  padding: 8px 10px;
  color: #371E08;
}
#bc a {
  text-decoration: none;
  color: #371E08;
}

/* HOME PAGE */
.container {
  position: relative;
  margin: auto;
  width: 60%;
  text-align: center;
}

.categories {
  text-decoration: none;
  font-size: 4vw;
  display: flex;
  text-align: center;
  position: relative;
  height: 40vh;
  min-height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
}

.categoryTitle {
  position: relative;
  background-color: rgba(84, 57, 16, 0.6823529412);
  color: #F6EDE5;
  margin: auto;
  z-index: 1;
  padding: 0 20px;
}

.container .categories img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .categories {
    height: 30vh;
    font-size: 15px;
    min-height: 150px;
  }
  .container {
    width: 90%;
  }
  .container .categories img {
    min-height: 200px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 600px) {
  .categories {
    font-size: 30px;
  }
  .categoryTitle {
    width: 50%;
  }
}
/* COFFEE MENU PAGE */
.content-section {
  display: flex;
  flex-wrap: wrap;
}
.content-section .product-card {
  width: 30%;
  border: #371E08;
  border-width: 0.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px 15px;
  flex: 1 0 40%;
  /* Dropdown button on hover & focus */
}
.content-section .product-card img {
  width: 100%;
  object-fit: cover;
  max-height: 210px;
}
.content-section .product-card p {
  font-size: 20px;
}
.content-section .product-card .dropdown {
  display: block;
  margin-bottom: 20px;
}
.content-section .product-card .dropdown-flavor {
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 22px;
}
.content-section .product-card .dropbtn {
  background-color: #CCC0B6;
  color: #371E08;
  padding: 16px;
  font-size: 15px;
  border-color: #948578;
  cursor: pointer;
  font-family: "comfortaa";
  border-radius: 5px;
  width: 70%;
}
.content-section .product-card .dropbtn:hover, .content-section .product-card .dropbtn:focus {
  background-color: #dccec2;
}
.content-section .product-card .counter {
  width: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-section .product-card .counter h2 {
  width: 40px;
  border: 0;
  line-height: 20px;
  font-size: 25px;
  text-align: center;
  background: transparent;
  color: #371E08;
  appearance: none;
  outline: 0;
}
.content-section .product-card .counter button {
  display: block;
  font-size: 30px;
  padding: 0 10px;
  cursor: pointer;
  color: #371E08;
  background-color: #CCC0B6;
  user-select: none;
  width: 40px;
  border-width: 0.5px;
  border-color: #948578;
}
.content-section .product-card .counter button:hover {
  background-color: #dccec2;
}
.content-section .product-card .primary-btn {
  background-color: #371E08;
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: "comfortaa";
  font-weight: 600;
  color: #CCC0B6;
  border-radius: 5px;
  margin-bottom: 20px;
}
.content-section .product-card .primary-btn a {
  text-decoration: none;
  color: #CCC0B6;
}
.content-section .product-card .primary-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .content-section .product-card {
    margin: 10px;
  }
  .content-section .product-card img {
    height: 12vh;
  }
  .content-section .product-card h1 {
    font-size: 15px;
  }
  .content-section .product-card p {
    font-size: 10px;
  }
  .content-section .product-card .dropbtn {
    width: 38vw;
    font-size: 7px;
    height: 5vh;
  }
}
/* YOUR BAG PAGE */
.cart-row {
  display: flex;
  margin: auto;
  width: fit-content;
  background-color: #F6EDE5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}
.cart-row img {
  width: 20vw;
  margin: 10px;
  object-fit: cover;
}
.cart-row .description {
  color: #371E08;
  margin: 10px 20px;
}
.cart-row .description .title h2, .cart-row .description .title h3 {
  display: inline;
}
.cart-row .description .title h2 {
  margin-right: 10px;
}
.cart-row .description h4 {
  margin-bottom: 15px;
}
.cart-row .amend-qty {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.cart-row .amend-qty .counter-check {
  display: flex;
  align-items: center;
}
.cart-row .amend-qty .counter-check h2 {
  width: 40px;
  border: 0;
  line-height: 20px;
  font-size: 25px;
  text-align: center;
  background: transparent;
  color: #371E08;
  appearance: none;
  outline: 0;
}
.cart-row .amend-qty .counter-check button {
  font-size: 30px;
  padding: 0 10px;
  cursor: pointer;
  color: #371E08;
  background-color: #CCC0B6;
  user-select: none;
  width: 40px;
  border-width: 0.5px;
  border-color: #948578;
}
.cart-row .amend-qty .delete-btn {
  Cursor: pointer;
  font-size: 30px;
  color: #371E08;
  margin-left: 65px;
  border: none;
  background-color: transparent;
}
.cart-row .amount {
  color: #371E08;
}
.cart-row .amount h3 {
  display: inline;
}
.cart-row .amount .subtotal {
  margin-right: 80px;
}

hr {
  background-color: #371E08;
  color: #371E08;
  height: 2px;
  width: 55VW;
}

.total-to-pay {
  color: #371E08;
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
}
.total-to-pay p {
  display: inline;
}
.total-to-pay .total {
  margin-right: 60px;
}
.total-to-pay .total-number {
  margin-left: 25%;
}

.terms {
  text-align: center;
  color: #371E08;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.check-out-btn {
  text-align: center;
  background-color: #371E08;
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  font-family: "comfortaa";
  font-weight: 600;
  border-radius: 5px;
  margin-top: 35px;
}
.check-out-btn a {
  text-decoration: none;
  color: #CCC0B6;
}

.check-out-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  hr {
    width: 90%;
  }
}
.promo-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.promo-section .promo-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 20px 15px;
  justify-content: center;
}
.promo-section .promo-card img {
  width: 30vw;
  object-fit: cover;
  max-height: fit-content;
}
.promo-section .promo-card .heading {
  text-align: center;
}
.promo-section .promo-card .heading .choose-deal-btn {
  background-color: #f4efeb;
  color: #371E08;
  padding: 16px;
  margin: 10px 25px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-family: "comfortaa";
  border-radius: 5px;
  text-align: center;
}
.promo-section .promo-card .heading .dropdown-flavor {
  margin-bottom: 32px;
  margin-top: 22px;
}
.promo-section .promo-card .heading .dropdown-flavor .dropbtn-deals {
  background-color: #CCC0B6;
  color: #371E08;
  padding: 16px;
  margin: 10px 25px;
  font-size: 15px;
  border-color: #948578;
  cursor: pointer;
  font-family: "comfortaa";
  border-radius: 5px;
}
.promo-section .promo-card .heading .dropdown-flavor .counter-deals {
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo-section .promo-card .heading .dropdown-flavor .counter-deals h2 {
  width: 40px;
  border: 0;
  line-height: 20px;
  font-size: 25px;
  text-align: center;
  background: transparent;
  color: #371E08;
  appearance: none;
  outline: 0;
}
.promo-section .promo-card .heading .dropdown-flavor .counter-deals button {
  display: block;
  font-size: 30px;
  padding: 0 10px;
  cursor: pointer;
  color: #371E08;
  background-color: #CCC0B6;
  user-select: none;
  width: 40px;
  border-width: 0.5px;
  border-color: #948578;
}
.promo-section .promo-card .heading .dropdown-flavor .counter-deals button:hover {
  background-color: #dccec2;
}
.promo-section .promo-card .heading .primary-btn {
  background-color: #371E08;
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: "comfortaa";
  font-weight: 600;
  color: #CCC0B6;
  border-radius: 5px;
  margin-bottom: 20px;
}
.promo-section .promo-card .heading .primary-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .promo-section .promo-card {
    display: block;
    margin: 10px;
  }
  .promo-section .promo-card img {
    width: 86vw;
    height: 20vh;
  }
  .promo-section .promo-card .heading .choose-deal-btn {
    font-size: 10px;
  }
  .promo-section .promo-card .heading .dropdown-flavor {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .promo-section .promo-card .heading .dropdown-flavor .dropbtn-deals {
    font-size: 10px;
  }
  .promo-section .promo-card .heading .dropdown-flavor .counter-deals button, .promo-section .promo-card .heading .dropdown-flavor .counter-deals h2 {
    font-size: 25px;
  }
}
.about-section {
  width: 70%;
  margin: auto;
}
.about-section .text p {
  font-size: 20px;
  font-weight: 100;
  color: #371E08;
  margin: 30px 20px;
  line-height: 30px;
  text-align: justify;
}
.about-section .text h2 {
  color: #371E08;
  text-align: center;
  font-weight: 100;
}
.about-section .text h2 span {
  font-weight: bold;
}
.about-section .image-section {
  display: flex;
  margin-bottom: 30px;
}
.about-section .image-section img {
  margin-right: 35px;
  margin-left: 20px;
  object-fit: cover;
  width: 40%;
}
.about-section .image-section h1 {
  color: #371E08;
  font-weight: 600;
  line-height: 45px;
  padding-right: 30px;
}
.about-section .image-section p {
  font-size: 20px;
  font-weight: 100;
  color: #371E08;
  margin-right: 20px;
  margin-top: 0;
  line-height: 30px;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .about-section {
    width: auto;
  }
  .about-section .text p {
    margin: 30px 30px;
    font-size: 15px;
    line-height: 25px;
  }
  .about-section .text h2 {
    font-size: 20px;
    margin: 30px 30px;
  }
  .about-section .image-section img {
    margin-left: 30px;
    margin-right: 20px;
    height: auto;
  }
  .about-section .image-section h1 {
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 26px;
  }
  .about-section .image-section p {
    font-size: 15px;
    line-height: 25px;
    margin-right: 35px;
    margin-top: 0;
  }
}
.contact-section {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  color: #371E08;
}
.contact-section .container {
  text-align: center;
  width: max-content;
}
.contact-section .container .wording {
  margin-bottom: 50px;
}
.contact-section .container .wording p {
  text-align: center;
  font-size: 20px;
}
.contact-section .container .wording h2 {
  line-height: 35px;
}
.contact-section .container .wording a {
  color: #371E08;
  text-decoration: none;
  font-size: 40px;
  margin: 10px 10px;
}
.contact-section .container .form-sect {
  text-align: initial;
}
.contact-section .container .form-sect .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-section .container .form-sect .input-group label {
  margin-bottom: 10px;
}
.contact-section .container .form-sect .input-group input, .contact-section .container .form-sect .input-group textarea {
  font-family: "comfortaa";
  width: 100%;
  color: #371E08;
  background-color: #F6EDE5;
  border: none;
}
.contact-section .container .form-sect .input-group .taller-fields {
  height: 20px;
}
.contact-section .container .form-sect .submit {
  text-align: center;
}
.contact-section .container .form-sect .submit .primary-btn {
  background-color: #371E08;
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: "comfortaa";
  font-weight: 600;
  color: #CCC0B6;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact-section .container .form-sect .submit .primary-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .contact-section .container {
    width: fit-content;
  }
  .contact-section .container .wording {
    margin-bottom: 25px;
  }
  .contact-section .container .wording p {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .contact-section .container .wording h2 {
    font-size: 15px;
    line-height: 22px;
  }
  .contact-section .container .form-sect .input-group .label {
    font-size: 12px;
  }
  .contact-section .container .form-sect .submit .primary-btn {
    padding: 10px 30px;
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.checkout-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  margin: auto;
  color: #371E08;
}
.checkout-section .order-check {
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkout-section .order-check label {
  font-size: 20px;
  margin-right: 26px;
}
.checkout-section .order-check .time {
  margin-right: 45px;
}
.checkout-section .order-check .dropbtn {
  background-color: #CCC0B6;
  color: #371E08;
  padding: 16px;
  font-size: 15px;
  border-color: #948578;
  cursor: pointer;
  font-family: "comfortaa";
  border-radius: 5px;
}
.checkout-section .order-check .dropbtn:hover, .checkout-section .order-check .dropbtn:focus {
  background-color: #dccec2;
}
.checkout-section .payment {
  margin-top: 30px;
}
.checkout-section .payment .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.checkout-section .payment .form-group label {
  margin-bottom: 15px;
  font-size: 20px;
}
.checkout-section .payment .form-group input {
  border: none;
  background-color: #F6EDE5;
  color: #371E08;
  height: 30px;
  text-align: initial;
}
.checkout-section .payment .smaller-fields {
  display: flex;
}
.checkout-section .payment .smaller-fields .form-control {
  width: fit-content;
  margin-right: 90px;
}
.checkout-section .payment .receipt {
  font-size: 20px;
  margin-bottom: 25px;
}
.checkout-section .payment .receipt input [type=checkbox] {
  font-size: 15px;
}
.checkout-section .payment .confirmation {
  text-align: center;
}
.checkout-section .payment .confirmation button a {
  text-decoration: none;
  color: #CCC0B6;
}
.checkout-section .payment .confirmation .primary-btn {
  background-color: #371E08;
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: "comfortaa";
  font-weight: 600;
  color: #CCC0B6;
  border-radius: 5px;
  margin-bottom: 20px;
}
.checkout-section .payment .confirmation .primary-btn:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
