$FontColor: #371E08;
$SecondaryColor: #CCC0B6;
$Font:"comfortaa";
@mixin mainDropBtn(){
    background-color: $SecondaryColor;
    color: $FontColor;
    padding: 16px;
    font-size: 15px;
    border-color:#948578;
    cursor: pointer;
    font-family: $Font;
    border-radius: 5px; 
  }
@mixin mainDropBtnHover {
  background-color: #dccec2;
}
@mixin counterNum {
  width: 40px;
  border: 0;
  line-height: 20px;
  font-size: 25px;
  text-align: center;
  background: transparent;
  color: $FontColor;
  appearance: none;
  outline: 0;
}
@mixin counterBtn {
  display: block;
  font-size: 30px;
  padding: 0 10px;
  cursor: pointer;
  color: $FontColor;
  background-color: $SecondaryColor;
  user-select: none;
  width: 40px;
  border-width: 0.5px;
  border-color:#948578;
}
@mixin primaryBtn {
    background-color: $FontColor;
    padding: 15px 40px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: $Font;
    font-weight: 600;
    color: $SecondaryColor;
    border-radius: 5px;
    margin-bottom: 20px;
      a{
        text-decoration: none;
        color: $SecondaryColor;
      }
}
@mixin mediaPrimaryBtn {
  padding: 10px 30px;
      font-size: 15px;
      margin-bottom: 10px;
}
  
body{
    background: linear-gradient(to top left, #ab8960, transparent);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: $Font;
    margin: 0;
}
#topnav{
  overflow: hidden;
  background-color: #543910;
  #menuLinks{
    display: none;
    a:hover{
      background-color:#412905d0;
    }
  }
  .logo{
    width: 50px;
    height: 50px;
  }
  a{
    color: #F6EDE5;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .icon {
    display: block;
    position: absolute;
    right: 50px;
    top: 0;
    font-size: 30px;
    margin-top: 10px;
  }
  .bag_icon{ 
    position: absolute;
    margin-top: 10px;
    top: -1px;
    right: 2px;
    font-size: 28px;  
  }
}
#bc{
  font-size: 12px;
  padding: 8px 10px;
  color: $FontColor;
  a{
  text-decoration: none;
  color: $FontColor;
  }
}
 
//HOME PAGE
.container{
  position: relative;
  margin: auto;
  width: 60%;
  text-align: center;
  .categories{
    text-decoration: none;
    font-size: 4vw;
    display: flex;
    text-align: center;
    position: relative;
    height: 40vh;
    min-height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
    .categoryTitle{
      position: relative;
      background-color: #543910ae;
      color: #F6EDE5;
      margin: auto;
      z-index: 1;
      padding: 0 20px;
    }
    img{
      width: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      height: 100%;
    }
  }
}

@media screen and (max-width: 800px){
  .categories{
    height: 30vh;
    font-size: 15px;
    min-height: 150px;
  }
  .container{
    width: 90%;
  }
  .container .categories img{
    min-height: 200px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .categories{
    font-size: 30px;
  }
  .categoryTitle{
    width: 50%;
  }
}

/* COFFEE MENU PAGE */
.content-section{
  display: flex;
  flex-wrap: wrap;
  .product-card{
    width: 30%;
    border: $FontColor;
    border-width: 0.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;  
    margin: 20px 15px;
    flex: 1 0 40%;
    img{
      width: 100%;
      object-fit: cover;
      max-height: 210px;
    }
    p{
      font-size: 20px;
    }
    .dropdown{
      display: block;
      margin-bottom: 20px;
    }
    .dropdown-flavor{
      justify-content: center;
      margin-bottom: 32px;
      margin-top: 22px;
    }
    .dropbtn{
      @include mainDropBtn();
      width: 50%;
    }
    .dropbtn:hover, .dropbtn:focus{
      @include mainDropBtnHover();
    }
    .counter{
      width: 100%;
      margin: 20px auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .counter h2{
      @include counterNum();
    }
    .counter button{
      @include counterBtn();
    }
    .counter button:hover{
      @include mainDropBtnHover();
    }
    .primary-btn{
      @include primaryBtn();
    }
    .primary-btn:hover{
        opacity: 0.8;
    }
  }
}

@media screen and (max-width: 480px){
  .content-section{
    .product-card {
      margin: 10px;
      img {height: 12vh;  
      }
      h1{
        font-size: 15px;
      }
      p{
        font-size: 10px;
      }
      .dropbtn{
          width: 38vw;
          font-size: 7px;
          height: 5vh;
      }
    }
  } 
}
    
//YOUR BAG PAGE
.cart-row {
  display: flex;
  margin: auto;
  width: fit-content;
  background-color: #F6EDE5;   
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  img{
    width: 20vw;
    margin: 10px;
    object-fit: cover;
  }
  .description{
    color: $FontColor;
    margin: 10px 20px;
    .title{
      h2, h3{
        display: inline;
      }
      h2{
        margin-right: 10px;
      }
    }
    h4{
      margin-bottom: 15px;
    }
  }
  .amend-qty{
    display: flex;  
    flex-direction: row;
    margin-bottom: 15px;
    .counter-check{
      display: flex;
      align-items: center;
    }
      .counter-check h2{
        @include counterNum();
      }
      .counter-check button{
        @include counterBtn();
      }
    .delete-btn{
      Cursor: pointer;
      font-size: 30px;
      color: $FontColor;
      margin-left: 65px;
      border: none;
      background-color: transparent;
    }
  }
  .amount{   
    color: $FontColor;
    h3{
      display: inline;
    }
    .subtotal {
        margin-right: 80px;
    }
  }      
}
hr {
  background-color: $FontColor;
  color: $FontColor;
  height: 2px;
  width: 55VW;
}
.total-to-pay{
  color: $FontColor;
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
  p{
    display: inline;
  }
  .total{
    margin-right: 60px;
  }
  .total-number{
    margin-left: 25%;
  }
}
.terms{
  text-align: center;
  color: $FontColor;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.check-out-btn{
  @include primaryBtn();
  text-align: center;
  margin-top: 35px;
} 
.check-out-btn:hover{
  opacity: 0.8;
}

@media screen and (max-width: 480px){
  .cart-row{
    .description{
      margin: 10px 0px;
      .title{
        h2, h3{
          font-size: 20px;
        }
      }
      h4{
        margin: 10px 0px;
      } 
      .amend-qty{
        .delete-btn{
          margin-left: 50px;
          margin-right: 10px;
        }
      }
      .amount{
        .subtotal{
          margin-right: 65px;
        }
      } 
    }
  }
  hr{
    width: 90%;
  }
  .total-to-pay{
    font-size: 25px;
  }
  .terms{
    .check-out-btn{
      @include mediaPrimaryBtn();
    }
  }
}

  //DEALS PAGE
  .promo-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .promo-card{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      display: flex;
      margin: 20px 15px;
      justify-content: center;
        img{
        width: 30vw;
        object-fit: cover;
        max-height: fit-content;
      }
      .heading{
        text-align: center;
        .choose-deal-btn {
          background-color: #f4efeb;
          color: $FontColor;
          padding: 16px;
          margin: 10px 25px;
          font-size: 18px;
          border: none;
          cursor: pointer;
          font-family: $Font;
          border-radius: 5px; 
          text-align: center;
          }
          .dropdown-flavor{
            margin-bottom: 32px;
            margin-top: 22px;
            .dropbtn-deals {
             @include mainDropBtn(); 
              margin: 10px 25px;
            }
            .dropbtn-deals:hover, .dropbtn-deals:focus{
              @include mainDropBtnHover();
            }
            .counter-deals{
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .counter-deals h2{
              @include counterNum();
            }
            .counter-deals button{
              @include counterBtn();
            }
            .counter-deals button:hover{
              @include mainDropBtnHover();
            }
          }
          .primary-btn{
            @include primaryBtn();
          }
          .primary-btn:hover{
            opacity: 0.8;
          }
      }
    }
  }

  @media screen and (max-width: 480px){
    .promo-section{
      .promo-card {
        display: block;
        margin: 10px;
       img{
        width: 86vw;
        height: 20vh;
       }
       .heading{
          .choose-deal-btn {
            font-size: 10px;
          }
          .dropdown-flavor{
            margin-top: 10px;
            margin-bottom: 10px;
            .dropbtn-deals{
              font-size: 10px;
            }
            .counter-deals{
              button, h2{
               font-size: 25px; 
              }
            }
          }
        }
      }
    }
  }  


//ABOUT US PAGE
.about-section{
  width: 70%;
  margin: auto;
  .text{
    p{
    font-size: 20px;
    font-weight: 100;
    color: $FontColor;
    margin: 30px 20px;
    line-height: 30px;
    text-align: justify;
    }
    h2{
      color: $FontColor;
      text-align: center;
      font-weight: 100;
      span{
        font-weight: bold;
      }
    }
  }
  .image-section{
    display: flex;
    margin-bottom: 30px;
    img{
      margin-right: 35px;
      margin-left: 20px;
      object-fit: cover;
      width: 40%;
    }
    h1{
      color: $FontColor;
      font-weight: 600;
      line-height: 45px;
      padding-right: 30px;
    }
    p{
      font-size: 20px;
      font-weight: 100;
      color: $FontColor;
      margin-right: 20px;
      margin-top: 0;
      line-height: 30px;
      text-align: justify;
    }
  }
}

@media screen and (max-width: 480px){
  .about-section{
    width: auto;
   .text{
      p{
        margin: 30px 30px;
        font-size: 15px;
        line-height: 25px;
      }
      h2{
        font-size: 20px;
        margin: 30px 30px;
      }
   }
   .image-section{
      img{
        margin-left: 30px;
        margin-right: 20px;
        height: auto;

      }
      h1{
        margin-right: 20px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 26px;
    }
      p{
        font-size: 15px;
        line-height: 25px;
        margin-right: 35px;
        margin-top: 0;
      }
   }
  }  
}

//CONTACT US
.contact-section{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    color: $FontColor;
    justify-content: center;
  .container-contact{
    text-align: center;
    width: max-content;
    .wording{
      margin-bottom: 50px;
      p{
        text-align: center;
        font-size: 20px;
      }
      h2{
        line-height: 35px;
      }
      .sm-icons{
        margin-top: 40px;
        a {
          color: $FontColor;
          text-decoration: none;
          font-size: 40px;
          margin: 0px 15px;
        }
      }
    }
    .form-sect{
      text-align: initial;
      .input-group{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        label{
          margin-bottom: 10px;
        }
        input, textarea{
          font-family: $Font;
          width: 100%;
          color: $FontColor;
          background-color: #F6EDE5;
          border: none;
        }
        .taller-fields{
          height: 30px;
          }
      }
      .submit{
        text-align: center;
        .primary-btn{
          @include primaryBtn();
        }
        .primary-btn:hover{
          opacity: 0.8;
        }
      }
    }
  }
}

@media screen and (max-width: 480px){
  .contact-section{
    .container-contact{
        .wording{
          margin-bottom: 25px;
            p{
              font-size: 12px;
              margin-bottom: 20px;
            }
            h2{
            font-size: 15px;
            line-height: 22px;
            }
        }
        .form-sect{
          .input-group{
            .label{
              font-size: 12px;
            }
          }
        .submit{
          .primary-btn{
           @include mediaPrimaryBtn();
          }
        }
      }
    }
  }
}

//CHECK OUT PAGE
.checkout-section{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  margin: auto;
  color: $FontColor;
  .container-checkout{
   width: 100%;
    .order-check{
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      label{
        font-size: 20px;
        margin-right: 26px;
        padding-top: 15px;
      }
      .time{
        margin-right: 48px;
      }
      .dropbtn{
        @include mainDropBtn();
      }
      .dropbtn:hover, .dropbtn:focus{
         @include mainDropBtnHover();
      }
    }
    .payment{
      margin-top: 30px;
      .form-group{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        label{
          margin-bottom: 15px;
          font-size: 20px;
        }
        input{
          border: none;
          background-color:#F6EDE5;
          color: $FontColor;
          height: 30px; 
          text-align: initial;
        }
      }
      .smaller-fields{
        display: flex;
        .form-control{
          margin-right: 90px;
        }
      }
      .receipt{
        font-size: 20px;
        margin-bottom: 25px;
        input [type=checkbox]{
          font-size: 15px;
        }
      }
      .confirmation{
        text-align: center;
        button a{
          text-decoration: none;
          color: $SecondaryColor;
        }
        .primary-btn{
            background-color: $FontColor;
            @include primaryBtn();
          }
        .primary-btn:hover{
            opacity: 0.8;
        }
      }
    }
  }
}
     
@media screen and (max-width: 480px){
  .checkout-section{
    width: auto;
    .container-checkout{
      width: 80%;
      justify-content: center;
      .order-check{
        label{
        font-size: 15px;
        }
        .time{
        margin-right: 42px;
        }
        .dropbtn{
        font-size: 12px;
        padding: 10px;
        }
      }
      .payment{
        .form-group{
          margin-bottom: 20px;
          label{
            font-size:15px;
          }
        }
        .smaller-fields{
          .form-control{
            margin-right: 43px;
          }
        }
        .receipt{
          font-size: 15px;
        }
        .confirmation{
          .primary-btn{
            @include mediaPrimaryBtn();
          }
        }
      } 
    }
  }
}

  
